<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- Carrusel lateral de historias -->
  <ion-content scrollX="true" class="story-carousel" no-bounce>
    <ion-list lines="none" class="story-list">
      <ion-item *ngFor="let story of stories" class="story-item">
        <ion-avatar slot="start">
          <img [src]="story.avatar">
        </ion-avatar>
        <ion-label>{{ story.name }}</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>

  <app-layout> 
    <ion-list>
      <app-card-post></app-card-post>
    </ion-list>
  </app-layout>

</ion-content>